h1 {font-family:verdana;
}
p {font-family:arial;
	color:red;
	font-size:20px;
	
}
body{
	background-image: url(https://s3.amazonaws.com/ooomf-com-files/Ss2c5MVASdGkVHOwG6n9_Imogene%20Pass.jpg);
    background-size= 80px 60px
}


