h1 {font-family:verdana;
}
p {font-family:arial;
	color:violet;
	font-size:20px;
	
}
body{
	background-image: url(https://s3.amazonaws.com/ooomf-com-files/Ss2c5MVASdGkVHOwG6n9_Imogene%20Pass.jpg);
    background-size= 80px 60px
}

.about-me{
	border: 2px solid #a1a1a1;
    padding: 10px 40px; 
    background: #dddddd;
    width: 500px;
    border-radius: 25px;
    text-align:center;
    margin-left:50px;
    margin-top:300px;
}
div {
	
}

.icons{
	width: 40px;
	height: 30px;
	margin-left:9%;
}
.images{
	width:340px;
	height:340px;
}
#audio{
	margin-left: 20%;
}
@media screen and (max-width:959px) {
    .about-me{
    	width:100%;
    }	
    body{
    	width:100%;
    }
    .icons{
    	width:100%;
    }
    .images{
    	width:100%;
    }
    #audio{
    	width:100%
    }
} 
